body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://developer.apple.com/wwdc24/images/motion/axiju/endframe-small_2x.jpg');
    background-size: 60%; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

  }

  .splide {
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }

  .splide__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #ffffff0e;
    border-radius: 8px;
    overflow: hidden;
    
  }

  .splide__slide img {
    width: 100%; 
    height: auto;
    border-radius: 8px;   
  }

  button {
    font-size: 22px;
    padding: 15px 30px; 
    color: white; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }
  
  button:hover {
    background-color: #f7adf071; 
    border: 1px solid rgb(65, 0, 95);
  }
  
  @media (max-width: 768px) {
    body {
      background-size: cover; 
    }
    button {
        font-size: 18px;
    }
 
  }


#loader {
    position: fixed; 
    top: 50%;         
    left: 50%;       
    transform: translate(-50%, -50%); 
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  

  .loader {
    width: 60px;
    height: 40px;
    position: relative;
    display: inline-block;
    --base-color: #263238; 
  }
  
  .loader::before {
    content: '';  
    left: 0;
    top: 0;
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #FFF;
    background-image: radial-gradient(circle 8px at 18px 18px, var(--base-color) 100%, transparent 0), 
                      radial-gradient(circle 4px at 18px 0px, var(--base-color) 100%, transparent 0), 
                      radial-gradient(circle 4px at 0px 18px, var(--base-color) 100%, transparent 0), 
                      radial-gradient(circle 4px at 36px 18px, var(--base-color) 100%, transparent 0), 
                      radial-gradient(circle 4px at 18px 36px, var(--base-color) 100%, transparent 0), 
                      radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0), 
                      radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0), 
                      radial-gradient(circle 4px at 30px 30px, var(--base-color) 100%, transparent 0), 
                      radial-gradient(circle 4px at 5px 30px, var(--base-color) 100%, transparent 0), 
                      radial-gradient(circle 4px at 5px 5px, var(--base-color) 100%, transparent 0);
    background-repeat: no-repeat;
    box-sizing: border-box;
    animation: rotationBack 3s linear infinite;
  }
  
  .loader::after {
    content: '';  
    left: 35px;
    top: 15px;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #FFF;
    background-image: radial-gradient(circle 5px at 12px 12px, var(--base-color) 100%, transparent 0), 
                      radial-gradient(circle 2.5px at 12px 0px, var(--base-color) 100%, transparent 0), 
                      radial-gradient(circle 2.5px at 0px 12px, var(--base-color) 100%, transparent 0), 
                      radial-gradient(circle 2.5px at 24px 12px, var(--base-color) 100%, transparent 0), 
                      radial-gradient(circle 2.5px at 12px 24px, var(--base-color) 100%, transparent 0), 
                      radial-gradient(circle 2.5px at 20px 3px, var(--base-color) 100%, transparent 0), 
                      radial-gradient(circle 2.5px at 20px 3px, var(--base-color) 100%, transparent 0), 
                      radial-gradient(circle 2.5px at 20px 20px, var(--base-color) 100%, transparent 0), 
                      radial-gradient(circle 2.5px at 3px 20px, var(--base-color) 100%, transparent 0), 
                      radial-gradient(circle 2.5px at 3px 3px, var(--base-color) 100%, transparent 0);
    background-repeat: no-repeat;
    box-sizing: border-box;
    animation: rotationBack 4s linear infinite reverse;
  }
  
  /* Animation de rotation */
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  